<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  <style>
    .mortInput {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue
}
input:focus {
  border-color: green
}
  </style>


</head>
<body>
  <!-- ======= Header ======= -->
    <%- include('../partials/header'); %>
<section class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
          
      <div class="row g-3" >
       <h2 style="font-weight: 600;">Mortgage Calculator</h2>
    
        <div class="col-md-12 col-lg-12 g-5">
          <form id="fSubmit">
        
                <div class="row g-5" id="mortgage" >
                
                  <div>
                    <div class="row ">
    
                      <div class=" col-lg-6">
                        <label style="font-weight: 700; font-size: larger;">Net Monthly Income</label>
                        <input type="text" class="number-separator mortInput col-lg-12" id="monthlyIncome" style="height: 50px;"  required>
                      </div>
                      <br>
                      <div class="col-lg-6">
                        <label style="font-weight: 700; font-size: larger;" >Additional Monthly Income</label>
                        <input type="text" class="number-separator mortInput col-lg-12" id="addyMonthlyIncome" style="height: 50px;"  required>
                      </div>
    
                    </div>
                    <br>
    
                
                    <div class= "row">
                        <div class="col-lg-6">
                    <label style="font-weight: 700; font-size: larger;"> Are you borrowing with a partner</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadio" checked id="flexRadio1">
                      <label class="form-check-label" for="flexRadio2">
                        Yes
                      </label>
                    </div>
                  
                    <div class="form-check ">
                      <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio2" >
                      <label class="form-check-label" for="flexRadio2">
                        No
                      </label>
                    </div>
                </div>
    
                    <br>
    
                    <div id="partner" class="col-lg-6">
                      <label style="font-weight: 700; font-size: larger;">Partner's Net Montly Income</label>
                      <input type="text" class="number-separator mortInput col-lg-12" id="partnerIncome" style="height: 50px;"  >
                    </div>
                  </div>
    <br>
    
                
                  <div class="row">
    
                    
                    <div class="col-lg-3">
                      <label style="font-weight: 700; font-size: larger;" >Age</label> <br>
                      <input type="number" class="mortInput col-lg-12" id="age" style="height: 50px;"  required>
                    </div>


                      <div class="col-lg-3">
                        <label style="font-weight: 700; font-size: larger;" >Tenor</label> <br>
                        <input type="number" class=" mortInput col-lg-12" id="tenure" style="height: 50px;"  required>
                      </div>
                    
    
                    <div class=" col-lg-6">
                      <label style="font-weight: 700; font-size: larger;" >Down Payment</label>
                      <input type="text" class="number-separator mortInput col-lg-12" id="downPayment" style="height: 50px;"  required>
                    </div>
                  </div>
    
                    <br>
                    <div class="row">
                      <div class="col-lg-6">

    
                    <label style="font-weight: 700; font-size: larger;"> Do you have other loan Obligation</label>
    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" checked id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                      </label>
                    </div>
                    
    
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                      <label class="form-check-label" for="flexRadioDefault2">
                        No
                      </label>
                    </div>
                    </div>
                    <br>
    
                    <div id="borrowObligation" class="col-lg-6">
                      <label style="font-weight: 700; font-size: larger;" >Monthly Repayment Obligation</label>
                      <input type="text" class="number-separator mortInput col-lg-12" id="debt" style="height: 50px;"  >
                    </div>
                    </div>
    
                 
                  
                  <div style="display: flex; justify-content:center; padding-top: 20px;">
                    <button class="btn " style="background-color: #17a2b8; color:white; font-size: large; font-weight: 500;" type="submit">Submit</button>
                  </div>
                </div>
              </form>
              </div>
              </div>      
  </div>
</section>

<section class="container">
  <center> <h1>Results</h1></center>
<div class="row">
  <div style="background-color: rgb(246, 248, 248); border: 2px solid white;" class="col-lg-6 col-md-6">
    <h4 style="font-size: 20px;"> <strong>Maximum Property Value</strong> </h4>
    <h3 class="d-flex flex-row-reverse" style="color: #19ae6b; font-size: 30px; font-weight: 500;" id="maxpv">₦0.00 </h3>


  </div>
  <div style="background-color: rgb(246, 248, 248); border: 2px solid white;" class="col-lg-6 col-md-6">
    <h4 style="font-size: 20px;"> <strong>Monthly Repayment</strong></h4>
    <h3 class="d-flex flex-row-reverse" style="color: #19ae6b; font-size: 30px; font-weight: 500;" id="monthly">₦0.00 </h3>
    
    

  </div>

</div>
<div class="row">
  <div style="background-color: rgb(246, 248, 248); border: 2px solid white;" class="col-lg-6 col-md-6">
    <h4 style="font-size: 20px;"> <strong>Interest Rate</strong></h4>
    <h3 class="d-flex flex-row-reverse" style="color: #19ae6b;font-size: 30px; font-weight: 500;"> 19%</h3>

    

  </div>
  <div style="background-color: rgb(246, 248, 248); border: 2px solid white;" class="col-lg-6 col-md-6">
    <h4 style="font-size: 20px;"> <strong>Tenor</strong>
    <button type="button" class="btn" id="btnshow" data-delay='{"show":"5000", "hide":"3000"}' data-bs-toggle="tooltip" data-bs-placement="top" title="Tenor will be used deirectly as inputed if it is less than (60 - Age), else (60 - Age) is uesed a tenor  ">
      <i class="fa-sharp fa-solid fa-circle-info "></i> 
    </button>
    </h4>
    <h3 class="d-flex flex-row-reverse" style="color: #19ae6b; font-size: 30px; font-weight: 500;" id="tenor"> ₦0.00</h3>


  </div>

</div>
</section>







       <script>
                      const box = document.getElementById('borrowObligation');
                      const box2 = document.getElementById('partner')

              function handleRadioClick() {
                if (document.getElementById('flexRadioDefault1').checked) {
                  
                  box.style.display = 'block';
                  document.getElementById('debt').value = ""
                } else {

                  box.style.display = 'none';
                }
              }

              const radioButtons = document.querySelectorAll('input[name="flexRadioDefault"]');
              radioButtons.forEach(radio => {
                radio.addEventListener('click', handleRadioClick);
              });


              function handleRadioClicker() {
                if (document.getElementById('flexRadio1').checked) {
                  box2.style.display = 'block';
                  document.getElementById('partnerIncome').value = ""


                } else {
                  box2.style.display = 'none';

                }
              }

              const radioButtons1 = document.querySelectorAll('input[name="flexRadio"]');
              radioButtons1.forEach(radio => {
                radio.addEventListener('click', handleRadioClicker);
              });
       </script>

       <script>

        const getLoanTerm = () => {
        const age = Number((document.getElementById('age').value))
        const tenure = Number((document.getElementById('tenure').value))


         
         if(age <= 17) return -1;
         if(age >= 60) return -1;
         const t = 60 - age
        const test = t > 20 ? 20 : t
        const tenTest = tenure < test ? tenure : test

        document.getElementById('tenor').innerText = `${tenTest}years`

         return tenTest

        }
        const getTotalMonthly = () => {
          const partnerIncome = Number((document.getElementById('partnerIncome').value).replace(/\,/g,''))
          const monthlyIncome = Number((document.getElementById('monthlyIncome').value).replace(/\,/g,''))
          const addyMonthlyIncome = Number((document.getElementById('addyMonthlyIncome').value).replace(/\,/g,''))
          const sum = partnerIncome + monthlyIncome + addyMonthlyIncome
          return sum
        }
        console.log("ans", partnerIncome)


        const getTotalDebt = () => {
          const debt = Number((document.getElementById('debt').value).replace(/\,/g,''))
          return debt

        }

        const downPayment = () => {
            const downPayment = Number((document.getElementById("downPayment").value).replace(/\,/g,''))
            return downPayment

        }


    $("#fSubmit").on("submit", function(event){
      event.preventDefault();

     
              const aggMonthlyIncome = Number(getTotalMonthly()) 
              if (aggMonthlyIncome <= 0) {
                alert("You're not eligible for a loan")
                return 
              }

              let payment = (Number(aggMonthlyIncome) - Number(getTotalDebt())) * 0.33
              
              const loanTerm = Number(getLoanTerm())
              if (loanTerm <= 0) {
                alert("you're not eligible for a loans")
                return
              }

              const month = loanTerm * 12
              const rate = (0.19 / 12)
              const loanAmount = (payment * ( 1 - Math.pow((1 + rate), (-1 * month))))/rate
              const monthly = loanAmount / loanTerm
              const downPay = downPayment()
              const affordability = Number(loanAmount) + Number(downPay)
              
              function numberWithCommas(x) {
                 a = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                 b = `${a}`
                 return b.replace(/\s/g, '')
                  }

              document.getElementById('maxpv').innerText = `₦${numberWithCommas(affordability.toFixed(2))}`
              document.getElementById('monthly').innerText = `₦${numberWithCommas(monthly.toFixed(2))}`

              
              return affordability
    })


       </script>


    
      <!-- ======= Footer ======= -->
  <%- include('../partials/footer'); %>
</body>

</html>