<div class="container">

    <center>
      <h1 class="h3 mb-3 font-weight-normal" style="color: #17a2b8; font-weight: 700;">Add Property </h1>
      
    </center>
  
    <div class="form">
  
      <form id="regForm" >
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Property Code</label>
      <input type="text" id="propertyCode" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Developer</label>
      <input type="text" id="developer" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Property Name</label>
      <input type="text" id="propertyName" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">State</label>
      <input type="text" id="state" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Area</label>
      <input type="text" id="area" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">property Type</label>
      <input type="text" id="propertyType" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Number of Bedrooms</label>
      <input type="text" id="numberOfBedroom" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Number of Washrooms</label>
      <input type="text" id="numberOfWashroom" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Quantity Available Units</label>
      <input type="text" id="quantityAvailableUnits" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Property Price</label>
      <input type="number" id="propertyPrice" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Property Size</label>
      <input type="text" id="propertySize" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Property Features</label>
      <input type="text" id="propertyFeatures" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Status</label>
      <input type="text" id="status" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Delivery Date</label>
      <input type="text" id="deliveryDate" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">titleType</label>
      <input type="text" id="titleType" style="height: 40px;" class="form-control">
    </div>
  
    <div class="col-lg-4 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Building Plan Approval</label>
      <input type="text" id="buildingPlanApproval" style="height: 40px;" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  
  
  <div class="row justify-content-center input_fields_wrap">
    <div class="col-lg-4 col-md-4 ">
      <label for="exampleInputPassword1" class="form-label">Photos</label>
      <input type="text" class="photoClass form-control" name="titleType" style="height: 40px;"> 
      <i class="fa-solid fa-plus add_field_button"></i>
    </div>
  
  
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-1">
    <input type="submit" class="btn btn-success" value="submit">
    </div>
  </div>
  
      </form>
      
   <a href="/api/list/grehdsjhskjefi-io" style="padding-left: 200px;"> view all Data</a>
  
    </div>
  </div>
   
  
 